@use "sass:map";

/* Markup */
$nav-width: 72px;
$content-margin-top: 24px;
$content-margin-bottom: 26px;
$card-gap: 24px;

/* Colors */
$color-font-main: #333333;
$color-font-second: #AAAAAA;
$color-font-hover: #125BAE;
$color-font-bg: #E2EFFF;
$color-font-history: #5A0488;
$color-brand: #7397F5;
$color-border: #D5D5D5;
$color-border-hover: #73AFF4;
$color-bg-hover: #E2EFFF;
$color-icons: #CBCBCB;
$color-icon: #5A5A5A;
$color-card-background: #F8F8FA;
$color-scroll: #F2F2F2;
$color-black: #000000;
$color-white: #FFFFFF;